.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(139, 69, 19, 0.2);
}
.modal-badge {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 20px;
    background: transparent;
    border: 1px solid rgba(139, 69, 19, 0.2);
    border-radius: 4px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid rgba(139, 69, 19, 0.2);
}