@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@using TheNextLevel.Presentation.Components.Layout
<div class="page">
    <main>
        <div class="">
            <div class="app-container">
                <article class="content">
                    <Header />
                    @Body
                    <Footer />
                </article>
            </div>
        </div>
    </main>
</div>

@code {

}
