@inherits LayoutComponentBase
@using TheNextLevel.Components.Hosts

<div class="page">
    <main>
        <div class="">
            <div class="app-container">
                <article class="content">
                    <Header />
                    @Body
                </article>
            </div>
        </div>
    </main>
</div>

<DialogContainer />

@code {

}
