@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="page @(BackgroundImage != null ? "has-background" : "")" 
             style="@(BackgroundImage != null ? $"background-image: url('{BackgroundImage}')" : "")">

            <div class="container glass-container">
                <article class="content px-4">
                            @Body
                </article>
            </div>
        </div>
    </main>
</div>


@code {
    [Parameter]
    public string? BackgroundImage { get; set; }
    [Inject]
    private IJSRuntime JSRuntime { get; set; } = default!;
}