@using TheNextLevel.Services
@inherits LayoutComponentBase
@inject BackgroundService BackgroundService
@implements IDisposable

<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="page @(CurrentBackground != null ? "has-background" : "")"
             style="@(CurrentBackground != null ? $"background-image: url('{CurrentBackground}')" : "")">

            <div class="container glass-container">
                <article class="content px-4">
                    @Body
                </article>
            </div>
        </div>
    </main>
</div>


@code {
    private string CurrentBackground => BackgroundService.CurrentBackground;

    protected override void OnInitialized()
    {
        BackgroundService.OnBackgroundChanged += StateHasChanged;
    }

    public void Dispose()
    {
        BackgroundService.OnBackgroundChanged -= StateHasChanged;
    }
}