@using TheNextLevel.Services.v2

@inherits LayoutComponentBase
@implements IDisposable
@inject IAppBackgroundSelectService BackgroundService

<div class="page">
    <main>
        <div class="">
            <div class="app-container">
                <article class="content">
                    <Header />
                    @Body
                </article>
            </div>
        </div>
    </main>
</div>

@code {
    private string CurrentBackground => BackgroundService.CurrentBackground;
    protected override void OnInitialized()
    {
        BackgroundService.OnBackgroundChanged += StateHasChanged;
    }

    public void Dispose()
    {
        BackgroundService.OnBackgroundChanged -= StateHasChanged;
    }
}
