@page "/"
@using TheNextLevel.Components.Shared

<div class="task-manager">
    <div class="task-grid">
        @foreach (var task in FilteredTasks)
        {
            <TaskCard NLTask="task" OnStatusChanged="UpdateTaskStatus" />
        }
    </div>
    <div class="new-task-container">
        <button class="btn-new-task" @onclick="ShowNewTaskDialog">
            <span>+</span>
            <span class="tooltip">New Task</span>
        </button>
    </div>
        <NewTaskDialog
    IsVisible="@isNewTaskDialogVisible"
    OnSave="HandleNewTaskSave"
    OnCancel="HandleNewTaskCancel" />
</div>