@using TheNextLevel.Components.v2.Objects
@using TheNextLevel.ViewModels

@page "/"
<main class="main-content">
    <div class="task-section">
        <div class="section-header">
        </div>
        @if (_isLoading)
        {
            <p>Loading tasks...</p>
        }
        else if (_tasks != null && _tasks.Count > 0)
        {
            <div class="task-grid">
                @foreach (var task in _tasks)
                {
                    <TaskCard Task="@task" />
                }
            </div>
        }
        else
        {
            <p>No tasks available.</p>
        }
    </div>
</main>
@code 
{
    private List<NLTask>? _tasks = new List<NLTask>();
    private bool _isLoading = true;
}
