@page "/"
<main class="main-content">
    <div class="task-section">
        <div class="section-header">
        </div>
        <div class="task-grid">
            <div class="task-card priority-normal">
                <div class="task-actions">
                    <button class="btn-menu">⋮</button>
                </div>
                <div class="task-checkbox-container">
                    <input class="task-checkbox" type="checkbox">
                    <div class="task-details">
                        <div class="task-title">Task 1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@code {

}
