@inject NavigationManager Navigation
<div class="mission-card-wrapper">
    <div class="mission-card" @onclick="@( () => Navigation.NavigateTo($"/missions/{Mission?.Id}"))">
        <div class="mission-content">
            <h3 class="mission-name">@Mission?.Name</h3>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MissionDto? Mission { get; set; }
}